frr version 10.7.1
frr defaults traditional
service integrated-vtysh-config
hostname {{ inventory_hostname }}

{% for bgp in bgp_frr %}
router bgp {{ bgp.name }}
  bgp router-id {{ bgp.router_id }}

{% for neighbor in bgp.neighbor %}
  neighbor {{ neighbor }}
{% endfor %}

{% for network in bgp.network %}
  network {{ network }}
{% endfor %}

{% endfor %}
!